[2014-10-17 19:51] EStrunz opened #2 "Reset password error"
Trying to reset a user password from the members page (partnersmap.org/admin) takes users to a page requesting their e-mail (partnersmap.org/passwords/new). Submitting an e-mail address brings up partnersmap.org/passwords, but yields an error ("We're sorry There as an error and the page couldn't be loaded.")

Should also remove the InterAction logo from the passwords page.

[2014-10-17 19:55] EStrunz opened #3 "Submitting data from members area error"
Submitting data through the members' area forms seems to usually produce an error after submission. However, it seems like the submission is actually stored in the database, since it will appear on the map sometime later.

![data submission error](https://cloud.githubusercontent.com/assets/6955158/4685075/431ce8a8-5637-11e4-83d7-bdc33b163339.jpg)

[2014-10-17 20:01] EStrunz opened #4 "Organization logos not permanently saved"
When saving organization logos in the members area, they seem to save temporarily but disappear eventually. I've saved logos for each of the four current Partners Map organizations in the past. Right now, all that appears is the apparent image size specification (medium), as seen in the screen grab below.

![logo bug](https://cloud.githubusercontent.com/assets/6955158/4685187/413160fe-5638-11e4-81

[2014-10-22 18:12] EStrunz opened #5 "Warning for IE8 Users"
We should include a warning for visitors that IE8 is not compatible and recommend supported browser alternatives.

[2014-10-28 23:40] #2 closed, assigned to nobody

[2014-10-29 18:28] #4 closed, assigned to nobody

[2014-10-29 19:51] #3 closed, assigned to nobody

[2014-10-29 21:00] #5 closed, assigned to nobody

[2014-11-05 23:52] EStrunz opened #6 "Downloading Data as CSV/XLS/KML from Location Pages"
An error occurs when trying to download list of activities from a location's page. For example, click on India from home page. Then try to download CSV, XLS, or KML files. The page will not be found. However, downloading data in CSV or XLS from the global homepage does seem to work appropriately.

[2014-11-07 20:41] #6 closed, assigned to nobody

[2014-11-20 21:07] EStrunz opened #10 ""Medium" as reporting organization"
Just noticed a seemingly small bug on a project page. Under "reporting organizations," the word "medium" shows up above the organization name. See attached screenshot. It looks like this only appears when the organization logo is not available.

![medium glitch](https://cloud.githubusercontent.com/assets/6955158/5132983/30d79fe6-70cf-11e4-8670-d5bdb55493aa.jpg)

[2014-11-20 21:16] EStrunz opened #11 "Password reset error"
Tried resetting password for estrunz@taskforce.org on http://partnersmap.org/passwords/new. I successfully received e-mail with a link to a page where I could enter a new password. I created a new password on this page, but hit an error ("Page cannot be loaded") after submitting the change.

[2014-11-26 22:24] #11 closed, assigned to nobody

[2014-11-26 22:57] #10 closed, assigned to nobody

[2014-12-02 16:46] EStrunz opened #12 "Can't create new organization"
Logged in as administrator, but cannot create a new organization. In the admin panel, I navigate to "Organizations" and click on "New org." I  fill in basic details for a new organization and click save. On two attempts, I received a "Page not found" error and a "We're sorry. There as an error and the page couldn't be loaded."

Let me know if I can provide more information.

[2014-12-02 21:26] #12 closed, assigned to nobody

[2014-12-03 16:25] EStrunz opened #13 "Saving site logo results in application error"
Log in as administrator. Go to manage global site>customization. Upload JPG logo. Logo preview appears next to upload button. Upon saving, site triggers an Application Error. Screenshot attached. Error lasts for about 3-5 minutes.

![app error after sit elogo](https://cloud.githubusercontent.com/assets/6955158/5283927/dc52cc24-7ade-11e4-9489-ae624a840ac4.jpg)

[2014-12-03 17:07] EStrunz opened #14 "Minor - Remove old text from members area"
There's a small snippet of "ngoaidmap" text in the bottom right corner in the member's area. Let's go ahead and change this to "Partners Map"

Here's an image:

![ngo aid map text](https://cloud.githubusercontent.com/assets/6955158/5284360/a8ea519c-7ae1-11e4-8595-5b5fa2d30f72.jpg)

[2014-12-03 17:10] EStrunz opened #15 "Saving new project results in error"
I successfully created a new organization (Children Without Worms) and new user (eric.strunz@emory.edu) for testing. I then attempted to create a new project for CWW, but encountered an error.
1. Log in as non-admin member
2. Create new project
3. Fill in details for starred fields: description, start / end date, region, etc. I added two geographic areas: DeKalb and Cobb counties.
4. Save

After s

[2014-12-03 17:16] EStrunz opened #16 "Adding new region to project issue"
When creating a new project, I noticed two problems with the input form.
1. After selecting a country from the first dropdown menu, it takes 5-10 seconds for the second dropdown menu to appear with admin1 areas. After choosing an admin1 area, however, the admin2 dropdown pops up quickly. Any ideas why admin1 takes so long to appear?
2. After selecting a region, a small broken image appears in the

[2014-12-03 22:36] #14 closed, assigned to nobody

[2014-12-03 23:15] #16 closed, assigned to nobody

[2014-12-04 17:07] EStrunz opened #17 "New logo"
We've been able to snag a new logo for the Partners Map. We have both vertical and horizontal versions. Would be great to swap out the old, temporary logos and the site favicon/ICO.

I'll send full quality copies via e-mail, but am including copies here for reference too. For the favicon, let's use just the logo (without text).

**New Horizontal**:
![partnersmap_colorhorizontal](https://cloud.gith

[2014-12-04 18:23] EStrunz opened #18 "Minor text clean up"
I've had the chance to review different parts of the site and noticed a few areas where we can update the text.
## 1. Donor text

On donor pages (e.g., http://partnersmap.org/donors/1) this text should be updated:

Let's make it simply:

![interaction members](https://cloud.githubusercontent.com/assets/6955158/5303735/11d522da-7bba-11e4-8f27-c3030eb6082d.jpg)
## 2. Admin area page title

In the ad

[2014-12-04 22:09] #13 closed, assigned to nobody

[2014-12-04 22:15] #15 closed, assigned to nobody

[2014-12-04 23:05] EStrunz opened #19 "Minor database field values cleaning"
After the database re-upload, the field values are much cleaner now. However, there are a few small fixes to be made:
## 1. Audience "Preschool-Age Children"

Right now we have both "pre-school children" and "preschool age children" children in the audience field. I didn't see any examples of "pre-school children" in the upload data, so I'm not sure where that may have originated. When selected, i

[2014-12-04 23:22] EStrunz opened #20 "Minor: Mysterious resources page"
In the members area project page, there is a link to a "resources" page. However, that links goes to a page that does not exist. Any idea what this is? It's not a high priority, but I don't want new members to accidentally click it and get confused. If we don't know its functionality, maybe we can simply hide/delete it from the side menu.

![resources](https://cloud.githubusercontent.com/assets/69

[2014-12-05 00:27] #20 closed, assigned to nobody

[2014-12-05 00:30] #18 closed, assigned to nobody

[2014-12-05 00:40] #19 closed, assigned to nobody

[2014-12-05 00:57] #17 closed, assigned to nobody

[2014-12-05 16:34] EStrunz opened #21 "Site down 11:30am"
Site is experiencing an application error currently. Will update this if it comes back online.

[2014-12-05 17:53] EStrunz opened #22 "Feature request: member request form/e-mail"
I would like to give prospective members the chance to request an account. I'm open to ideas, but the most basic version could be a simple form that sends an e-mail to the site administrator. Here's a simple mock-up.
### Current member access page

![access](https://cloud.githubusercontent.com/assets/6955158/5320083/cd6784bc-7c7c-11e4-94d5-3e339cde9d79.jpg)
### Signup Form

The sign-up form should

[2014-12-05 18:32] #22 closed, assigned to nobody

[2014-12-05 18:48] EStrunz opened #23 "Minor: Basic tag cleanup & favicon"
A few more text updates in the HTML and header of the site.
#### 1. The meta content for the site currently reads:

[code]

Let's change it to:

[code]
#### 2.  Image alts for site logo

The current "alt" tags for the site logos need a tweak. They currently say "interaction aid map logo" and should be edited to something like "Partners Map logo"
#### 3. Favicon

Can we also update the favicon on t

[2014-12-05 19:22] EStrunz opened #24 "Minor: Password reset text cleanup"
Two basic tweaks to the password reset messages:
#### 1. Password reset text

Currently, after you submit your password reset request, the follow-up page (partnersmap.org/passwords) has "InterAction" in the header. Let's change it to "Partners Map".
#### 2. Password reset e-mail

The password reset e-mail has some old text which should be changed.
1. The title "Change your NGO Aid Map password" sh

[2014-12-05 19:37] EStrunz opened #25 "Minor: Darken admin menu text"
The white text on gray background in the admin area is a little hard to read. Let's change it to a blue (or anything that looks easily readable to you).

Screenshot for reference:
![admin menu2](https://cloud.githubusercontent.com/assets/6955158/5321695/c6d3d70e-7c8b-11e4-8e57-6d3f043e25cc.jpg)

[2014-12-05 22:35] #25 closed, assigned to nobody

[2014-12-05 22:38] #24 closed, assigned to nobody

[2014-12-05 22:43] #23 closed, assigned to nobody

[2014-12-09 18:58] #21 closed, assigned to nobody

[2014-12-09 20:20] EStrunz opened #26 "Basic users request access for "advanced" status and data submission privelege"
I would like to implement an e-mail form page for registered, basic users. Right now, users can create an account and download files, which is great. I also want to give them an obvious way to request approval to submit data for an organization. I propose the following:

Once logged in, basic users see a "Submit Data" menu option in the top right of the site. This is where the login button would b

[2014-12-09 20:30] EStrunz opened #27 "Feasibility of Google Maps Engine Layers"
How feasible would it be to allow for external Google Maps layers? This primarily relates to external layers of information, but could also be relevant for basemaps.

[2014-12-10 16:49] EStrunz opened #28 "Deleting or Hiding "Haiti" Site"
I don't want to test this myself in the production environment, but is it possible to safely delete the second Haiti map site? All we need is the "global" site. I think new users may be confused by the two sites when logging in and trying to submit data.

If we can't delete the site, can we hide its display to advanced users in their dashboard? Reference screenshot below.

![div](https://cloud.git

[2014-12-10 17:03] EStrunz opened #29 "CartoDB Layers"
The sample CartoDB layer looks great! I may be making a mistake in adding additional layers, since a new table I created for "water" isn't appearing on the map. Do you have a specific list of steps to add layers? Here's what I did:
1. Create new table for water access. Ensure its formatting is identical to the sample one. Remove all blank and null values. (Note: everything is identical except the

[2014-12-10 17:27] EStrunz opened #30 "Seemingly missing admin2 area"
I tried editing one of the activities to add an additional administrative area. I wanted to add a new area for Fulton county, GA. So I went to a project page, "added new region", then selected USA and Georgia. However, Fulton did not appear in the list of admin2 units. I checked the original shapefile and see it there. If it helps, its FID number is 10630. The ObjectID is 11048. Let me know if the

[2014-12-10 19:21] EStrunz opened #31 "Batch upload"
I'm testing batch upload of projects to make sure everything is working smoothly. I uploaded a small sample from India with headers and three rows of data. I'm not sure if the project list in the admin is cached, but the new projects haven't appeared yet. The upload itself appeared to go smoothly after I corrected a date formatting error. Here's a link to the sample spreadsheet for reference.

htt

[2014-12-11 01:05] #29 closed, assigned to nobody

[2014-12-11 01:08] #28 closed, assigned to nobody

[2014-12-11 01:10] #26 closed, assigned to nobody

[2014-12-13 06:29] #30 closed, assigned to nobody

[2014-12-15 20:09] #27 closed, assigned to nobody

[2014-12-15 22:20] EStrunz opened #33 "Update Readme to Reflect Updates"
Could we update the repository readme to reflect the current updated stack (e.g., Ruby version)? Please also feel free to make any other edits or additions you think would be helpful for people who might want to contribute or fork.

Thanks!

[2014-12-15 22:27] EStrunz opened #34 "Duplicate Geographic Areas in Input Form"
Mentioned this in another issue, but there are a few examples of duplicate regions appearing in the input form. I've included a screenshot of Guinea Bissau below. I think I saw a couple of others too: Heard Island And Mc Donal Islands, Saint Martin, and Saint Barthelemy.

I haven't checked for duplicate regions at the admin1 or admin2 level yet.

Also, I don't think any projects are using these co

[2014-12-16 17:50] EStrunz opened #35 "Show audience on activity pages"
Right now, we're displaying "target groups" on activity pages. We actually want to show the "audience" field. Originally, I thought we were using the existing "target groups" variable for this purpose, but it's fine to have a separate audience variable. Ideally, the audiences should be bulleted, using the pipe as a delimiter.

![target](https://cloud.githubusercontent.com/assets/6955158/5458639/fb

[2014-12-17 02:58] #33 closed, assigned to nobody

[2014-12-17 03:00] #35 closed, assigned to nobody

[2014-12-17 05:07] #31 closed, assigned to nobody

[2014-12-17 05:45] #34 closed, assigned to nobody

[2014-12-18 14:28] EStrunz opened #36 "Certain country pages offline"
Looks like page for India, but not other countries, is down. A random sample of other country pages seemed to be doing fine.

http://www.partnersmap.org/location/131

"We're sorry
There as an error and the page couldn't be loaded."

[2014-12-18 14:45] EStrunz opened #37 "Unable to create new administrators"
Previously could create new users in "Interaction" to empower them with administrator privileges. But that no longer appears to be the case.
1. Log in as admin
2. Create new user
3. Select organization

[2014-12-18 16:38] EStrunz opened #38 "Input Form Tweaks"
Just a few minor cosmetic requests on the input form
### Remove deprecated terms from input form

There are a few outdated options remaining in the input form. Here is a list of the variables and their options which should be removed:

**Sector**
Neglected Tropical Diseases (Nt Ds)
_It looks likes some data may have been uploaded with a typo in the sector, including a space in NTDs: "Neglected Tro

[2014-12-18 16:51] #36 closed, assigned to nobody

[2014-12-18 16:55] #37 closed, assigned to nobody

[2014-12-18 22:45] EStrunz opened #39 "Front page visual/image tweaks"
Three (hopefully) minor requests on the visual side, mostly involving the front page.
### 1. Adding new image to bottom gray footer

I've received a request to make our involvement in the project a little more noticeable. Let's add our CWW logo to the bottom gray footer. Here is what I'd like it to look like. Our logo doesn't have to be quite this big, but somewhere in the general range would prob

[2014-12-19 01:28] #38 closed, assigned to nobody

[2014-12-19 01:35] #39 closed, assigned to nobody

[2014-12-19 17:25] EStrunz opened #40 "Batch Upload Adjustments"
Looks like most of the batch upload functionality is working smoothly. I did encounter a few errors, which may be due to CSV formatting. I tested a two CSV with two projects for CWW. Here is the test CSV:

https://www.dropbox.com/s/m9p7566ooer5dzj/CWW%20CSV.csv?dl=0

### 1. NTDs Sector Issue
Looks like there's something wonky going on with sectors. I uploaded a standard NTDs sector project, and th

[2014-12-30 16:48] EStrunz opened #41 "Enhance input form for geographic regions"
If/when time allows, this would be a very nice enhancement for the geographic region input form in the member area. Currently, all regions have to be selected by scrolling through a drop down menu. This can be cumbersome. Can we replicate the functionality from other forms on the site that also include an autocomplete box? Examples of the enhanced input are the front page variables and an organiza

[2014-12-30 17:22] EStrunz opened #42 "Site down - 12/30"
We recently sent out a newsletter asking for additional feedback on the map, so I want to make sure the map is online for as many users as possible. I believe the site went down after I tried to adjust a batch upload project through the admin interface. I don't remember the exact repro steps, but I believe that I edited the geographic region and contact information for the CWW Nigeria project entr

[2014-12-30 17:28] #42 closed, assigned to nobody

[2015-01-07 22:31] EStrunz commented on #40
Looks like the batch upload is working, so I'm closing this out.

[2015-01-07 22:31] #40 closed

[2015-03-20 18:17] EStrunz opened #43 "Map instability on many project and location pages"
At times, clicking on a country from the global map causes an error. "We're sorry
There as an error and the page couldn't be loaded." This seems to be sporadic, since I can't reproduce it consistently. However, the problem seems more common for geographic units that have only one project. I've also seen the error when clicking on a state unit from a country page.

Generally, however, here are the

[2015-03-20 18:27] vitchell commented on #43
Its unlikely to be related to the recent changes.  It may be something as simple as the map is getting more volume and the servers need to be bumped up to compensate.  I'll investigate to try and find something concrete.

[2015-03-20 18:30] EStrunz commented on #43
Thanks. Any recommendations you on the Heroku horsepower side would be welcome.

[2015-03-23 14:22] EStrunz commented on #43
Just a heads up that we will be demoing the Partners Map on Wednesday morning from 9am to noon, so we'll want to avoid maintenance downtime during that window. Thanks!

[2015-03-23 17:49] vitchell commented on #43
Absolutely.  Sorry on the delayed response.  Ive been unable to track down an instance of the error itself happening, which could be for a variety of reasons.  As a short term measure, I went ahead and bumped up the hosting level for you.  It should be somewhere in the neighborhood of $20 more expensive, but in theory it should help flatten out the issue you're seeing.  What I did was one of a han

[2015-03-23 18:01] EStrunz commented on #43
Thanks. Still seeing the error, unfortunately (tested on latest Chrome, FF, and IE). Is there anything I can do on my end to provide a log of the error when I encounter it?

[2015-03-23 18:11] vitchell commented on #43
Timestamp is the best thing, it'll help me dig through the logs.  You're
seeing it right now?  With which URL?  And you're logged in?

On Mon, Mar 23, 2015 at 2:01 PM, Eric Strunz <notifications@github.com>
wrote:

--

*MITCHELL LANE*
CO-FOUNDER* NIGHTSPROUT LLC*

*www.nightsprout.com <http://www.nightsprout.com/>  |
 mitchell@nightsprout.com <mitchell@nightsprout.com>  |  (404) 913.1390*

[2015-03-23 18:14] EStrunz commented on #43
Sure, here you go:

Time: 2:12pm
Action: Click on Cameroon from front page
URL: http://www.partnersmap.org/projects/2?
Not logged in.

On Mon, Mar 23, 2015 at 2:11 PM, Mitchell Lane <notifications@github.com>
wrote:

[2015-03-23 18:18] vitchell commented on #43
Problem found, give me a few minutes and it should be good to go again.

On Mon, Mar 23, 2015 at 2:14 PM, Eric Strunz <notifications@github.com>
wrote:

--

*MITCHELL LANE*
CO-FOUNDER* NIGHTSPROUT LLC*

*www.nightsprout.com <http://www.nightsprout.com/>  |
 mitchell@nightsprout.com <mitchell@nightsprout.com>  |  (404) 913.1390*

[2015-03-23 19:45] EStrunz commented on #43
Looks good!

[2015-03-23 19:45] #43 closed

[2015-03-23 19:46] vitchell commented on #43
Excellent.  I'm going to close the issue here but as you get closer to showing this to real people, if any other things crop up let me know and I'll try and look at them ASAP.  As I noted in the email, it will also be helpful to know as close to the time of day when they occur as possible.  Helps to dig through logs

[2015-04-21 18:00] EStrunz opened #44 "Batch Download Activity Data"
A few months ago, we encountered some weirdness with batch downloads of activity data (e.g., in CSV, XLS, and KML formats). Trying to download data in batch was slow and seemed to be crashing the system. As a quick fix, we only allowed downloads for registered users and disabled downloads for the entire, global list of activities.

Unfortunately, this process still isn't working smoothly. I tried

[2015-04-27 14:53] dtpowl commented on #44
Currently, the software is attempting to generate these files on demand for each request. We should be able to improve file download performance dramatically by periodically generating the files in a background process and caching them.

[2015-04-27 15:11] vitchell commented on #44
I was thinking something maybe more complex but I'm not sure. Instead of precaching, just use the links to run a job that will email a generated file. In order to see and click a link, someone has to be an authenticated user, so we have their address.

Thoughts?

[2015-04-27 15:22] EStrunz commented on #44
Ideally, there is an added benefit for allowing even non-registered users
to download the data. But if it would impact performance significantly, I
wouldn't consider it a critical consideration.

On Mon, Apr 27, 2015 at 11:11 AM, Mitchell Lane <notifications@github.com>
wrote:

[2015-04-27 15:36] dtpowl commented on #44
The precaching method does have the advantage of allowing nonregistered users to download the data, and would offer users a slightly smoother experience in that they could still download the file directly in their browser instead of having it emailed to them.

The disadvantage is primarily that it might slightly increase hosting costs:  If we spun up a Heroku 1X worker dyno for this and had it run

[2015-04-27 15:37] dtpowl commented on #44
The email method would allow fully up-to-date reports without incurring additional computation time.

[2015-04-27 17:54] vitchell commented on #44
@EStrunz it won't impact performance per se.

The tradeoff here is, basically, that if we do the method that pre-generate the files, the files will not always be 100% fresh, and there will be associated costs with storing *all* the files.  But anyone will be able to download the file, and it will execute immediately.

If we create the files when a link is clicked and send via email, we can only se

[2015-04-27 18:02] EStrunz commented on #44
Excellent, thanks for this great info. Both strategies sound viable to me,
though the "generate and e-mail" approach has the edge from my current
perspective. That seems like the best path forward, but I'll defer to your
judgment!

On Mon, Apr 27, 2015 at 1:54 PM, Mitchell Lane <notifications@github.com>
wrote:

[2015-04-27 18:03] vitchell commented on #44
@EStrunz Sounds good.  The reality is that switching between the two won't take much work.  The bulk of the development time here is building a job that creates the file in the background, and that's required for either path.  Lets start with the email system and if you want to modify it, we can make that change without much work.

[2015-04-27 18:03] dtpowl commented on #44
:+1:

[2015-05-01 23:09] vitchell commented on #44
@EStrunz I went ahead and merged the functionality and pushed it to production.  I'm double-checking that everything works right now, but I've not turned up anything in particular.  If you see any problems, please re-open this issue (or submit a new one) and let us know.

[2015-05-04 13:49] EStrunz commented on #44
Will do. I'll do some digging today to make sure everything looks good.

On Fri, May 1, 2015 at 7:09 PM, Mitchell Lane <notifications@github.com>
wrote:

[2015-05-04 18:12] EStrunz commented on #44
Just did some quick testing and I hit a couple of problems (unfortunately):

1. I tried to export from the Neglected Tropical Diseases sector (http://www.partnersmap.org/sectors/1). The pop-up window triggered for me. Afterwards, however, the site hit an application error and was unavailable for a few minutes. I was logged in as an administrator.
2. I attempted exporting activities from the admin

[2015-05-04 18:15] vitchell commented on #44
And other things worked out normally?

[2015-05-04 18:18] EStrunz commented on #44
Just got the spreadsheet. It looks good!

There's only a small typo in the e-mail (screenshot below).

![email](https://cloud.githubusercontent.com/assets/6955158/7459165/10dc4b5e-f268-11e4-9e4b-8678c3c5dbd7.jpg)

The bottom link should be updated to partnersmap.org.

Everything else seems to be working smoothly on the site!

[2015-05-04 18:21] EStrunz commented on #44
Actually, another small change to the template notification message. The "from" e-mail should be info@partnersmap.org  instead of cww@taskforce.org. The name field can be "Partners Map"

[2015-05-04 23:21] vitchell commented on #44
@EStrunz Alrighty, I change the email, enabled the export functionality on the admin side (I believe I got all of these use cases, but if you see one that I missed let me know), and enabled downloading on the main projects page.

I couldn't reproduce the site going down, though I'm still looking into it.

[2015-05-04 23:21] vitchell commented on #44
@EStrunz Leaving this open until you follow up with a thumbs up or more issues.

[2015-06-02 05:43] #41 closed

[2015-07-28 19:20] EStrunz opened #47 "Stability July 28"
The Partners Map seems to be a little unstable today (and possibly yesterday). It looks like Heroku is also having some minor service interruptions. Would that be the obvious culprit?

[2015-07-29 00:27] vitchell commented on #47
Seems to be the problem. Once heroku settles down a bit and it persists, I'll dig deeper. Too much of a coincidence otherwise.

[2015-09-21 19:20] #47 closed

[2015-09-21 19:22] vitchell opened #48 "Year/Slider issues"
- Please add a brief explanation of the purpose (e.g. filter your project search by year) of the “Year slider” and explain how to use it.
 - Can the projects (from the list below the map) also update when using the slider?  Currently, only the projects (i.e. bubbles) indicated on the map change. 
 - The Slider does not easily allow more than one change in the dates filtered. For example, for Boliv

[2015-09-21 19:23] vitchell opened #49 "Other Filtering Issues"
- When filtering Sector, Audience, Activities, etc., if you select one audience, how do you return to selecting all audiences (i.e. reverting to the default view when there are no filters applied)?
 - From Search page, can “Country” be added to list of possible filters? At this time we only have “Regions.”  Would this be a major update?

[2015-09-21 19:23] vitchell opened #50 "Data Entry"
On Wednesday, after logging in as cww@taskforce.org, we entered a deworming project CWW conducted in Bangladesh in 2013. It is still not displayed on the map.

[2015-09-21 19:23] vitchell opened #51 "Map Functionality"
India
On the map, clicking on the bubble for “India 281 projects,” takes the user to one project: Madhya Pradesh School-based Deworming Program

Haiti
Clicking on the two projects in Bas limbe takes the user to a view in the middle of the ocean.

Panama
We receive a “page not found” error when clicking on Bocas del Toro

[2015-09-21 19:24] vitchell opened #52 "Minor Changes"
- On the About page > please hyperlink email address in the following text: To add your information to the Partners Map email cww@taskforce.org.

 - From home page, Follow Us email is directed to Eric’s old email (see below) but it should link to cww@taskforce.org

 - From home page, Follow Us, Facebook link goes to the TFGH website but should go to CWW Facebook page.  https://www.facebook.com/Chi

[2015-09-22 00:43] #52 closed

[2015-09-22 00:44] #51 closed

[2016-01-08 19:36] partnersmap opened #58 "Time Slider Reversed"
The time slider left indicator seems to represent the project "end date" and the right indicator represents the project "start date." This seems counter intuitive. Ideally, you'd want the slider to be able to represent a window of projects within that time frame. I've attached screenshots of an example. The project start date of the example is 1/5/2014 and the end date is 1/5/2016. There are four

[2016-01-08 19:53] partnersmap opened #59 ""Import projects" malfunction"
A batch file of 8 projects was uploaded using the "import projects" feature (admin>projects>import projects). These projects are listed under the organization "World Water Relief." No errors were indicated during the batch upload and the projects are listed. However, the upload seems to be incomplete. I've attached the xlsx file used to make the csv file for uploading the projects. If you click on

[2016-01-08 19:57] partnersmap opened #60 ""Organization" "Countries" filters incomplete"
A test active project was uploaded under the organization "Test Active." The project is the only one located in the United states. When you click on the dot, it brings you to a location in the middle of the South Pacific Ocean. Furthermore, "Test Active" is not represented in the organization filter under the time slider and "United States" is not represented in the countries filter.

Test active

[2016-01-08 20:03] partnersmap opened #61 "Data exporting is incomplete"
Exporting data leave missing data fields. See example of upload and export files for 8 projects from the organization World Water Relief.
[WorldWaterRelief_PartnersMap_Upload.xlsx](https://github.com/nightsprout/iom/files/83199/WorldWaterRelief_PartnersMap_Upload.xlsx)

[WorldWaterRelief_PartnersMap_Export_1-7-2016.xlsx](https://github.com/nightsprout/iom/files/83202/WorldWaterRelief_PartnersMap_E

[2016-01-08 20:20] vitchell commented on #59
The missing fields are all fields explicitly not imported from the CSV.  We can certainly enable them, but they're being intentionally not imported.

Audience mis-identification looks like a bug that we can quickly address.

Map pin issue looks addressable, but the cause isn't very clear right now.  Will have to research more.

[2016-01-08 20:21] vitchell commented on #61
Similar to the other issue just reported, not all fields are included in the export.  It seems pretty explicit that they are being not included.  We can add them all back in.

[2016-01-08 20:23] partnersmap commented on #59
Thanks! Enabling the missing fields will be very useful. We will most likely be entering all data via CSV.

[2016-01-08 20:26] partnersmap commented on #61
Please include all data fields on the export. Ideally, we would want to be able to upload and export file with all data fields being represented.

[2016-01-08 20:59] partnersmap commented on #58
Hold on this. The functionality of the time slider works. It's just a little confusing. Perhaps a single slider that indicates active projects within that year would be more useful. As of now, this is not a pressing issue. Thanks!

[2016-01-08 21:01] vitchell commented on #58
@partnersmap You can click the "close" button below to make an issue inactive.  And then come back later and re-open it to put it in the active list again whenever you want to push it forward again.

[2016-01-11 12:59] #58 closed

[2016-01-12 13:36] partnersmap opened #67 "Admin "Projects" tab "page not found""
Under Admin, when selecting the Projects tab - the following page is loaded:

"Page not found

The page that you are looking for doesn't exist.
Try to browse our maps to find what you are searching."

This started yesterday. I'm not sure if it is linked to bugs that are currently being fixed but I did notice it after deleting two organizations (1) Test Active and (2) Inactive Test.

[2016-01-12 19:48] partnersmap commented on #67
To note: Even though the organizations Test Active and Inactive Test were deleted, they still show up as points on the map and are included in the Organization filter above the time slider.

[2016-01-12 20:45] #61 closed

[2016-01-12 21:51] vitchell commented on #67
I believe this was fixed by a series of commits I made earlier today.  Basically, the root cause was some test Projects being incorrectly configured (missing Organizations).  I removed the few references that were causing problems and this should be something that can be fixed (now assigning an Organization when missing).

[2016-01-12 21:51] #67 closed

[2016-01-13 20:05] dtpowl opened #68 "Physical cache entries not cleared when projects are deleted"
The <code>data_denormalization</code> entries corresponding to a project persist after that project is deleted. This means that stale data can appear in project lists.

[2016-01-14 17:25] partnersmap opened #69 "Donors data field"
Would it be possible to allow for a donor to be uploaded to a project without the need to reference a pre-existing donor path. Moving forward, we are expecting to upload all project via CSV and there may be very diverse donors for each project. It would help save time if we didn't need to go back in and manually enter each donor.

[2016-01-14 20:24] partnersmap opened #70 "Audience Data Field Error"
Adding and "audience" data column to the csv file causes the projects to fail to upload. I ran a test of the same csv file with and without the single change of adding "audience." With audience = zero projects uploaded successfully, Without audience = all two projects uploaded successfully.

![withaudience](https://cloud.githubusercontent.com/assets/16598522/12336472/ca85cad4-bad2-11e5-87d3-924dae

[2016-01-14 20:37] #70 closed

[2016-01-14 20:58] partnersmap opened #71 "Interaction ID and Organization ID are switch when batch uploading"
Coded as "org_intervention_id" in the csv file but is populated under "INTERACTION INTERVENTION ID" on partners map

![id](https://cloud.githubusercontent.com/assets/16598522/12337354/89e04e32-bad7-11e5-8164-2b6e78b5d59a.JPG)

[2016-01-14 21:01] #59 closed

[2016-01-14 21:07] partnersmap opened #73 "Import projects - quality control"
Many previous errors have been identified when uploading a project via csv file (and a few are continuing to be found). To check all at once, please create a csv file with all data fields filled to test that all project variables are accurately being uploaded.

[2016-01-14 21:37] vitchell commented on #73
@partnersmap Could you be more specific on any issues that crop up?  Part of the problem with QA on a CSV import is that from a code perspective, we know how it is "supposed" to work.  When we upload a CSV, its typically filled with data that the system already expects because we approach the creation of the CSV from the perspective of the system first.

When you create a CSV, you're coming at it

[2016-01-15 13:07] partnersmap commented on #73
With quality control, I mean checking that all the variables are uploaded successfully (i.e. identify issues like audience, ID classifications internally). I would recommend making a csv file that has every data field filled. You can use an existing organization and use a random number generator to fill the numeric data fields and a random word generator to fill the text ones. For variables with l

[2016-01-15 19:32] vitchell commented on #73
We'd be happy to expand our QC efforts, but I do want to reiterate a point that was made early in our involvement in this project (since you're new to it).  IOM, the application that PartnersMap is built on top of, is not a very stable/good/complete/quality/QC'd project.  We've put a lot of effort into making it workable, but the system itself is still there and there will likely always be issues

[2016-01-15 20:28] partnersmap commented on #73
"In the past we were QCing against the exact files Task Force was uploading"

What file are you using? Shouldn't these have caught the misidentifications that I've brought up previously. Specifically, with Audience (first - "target audience" data field populating the "audience" data field with wrong variables and then failures to upload - and more recently "organization ID" and "interaction ID" sw

[2016-01-15 20:31] vitchell commented on #73
VAIndia.csv, VAAmericas.csv and a few others - neither have Audience included.

[2016-01-15 20:33] partnersmap commented on #73
Ah, I see. I will provide you with a more complete csv

[2016-01-15 20:36] vitchell commented on #73
That would be ideal, for testing.  To sort of recap the situation, a lot of functionality in the app is legacy from the original system this is based on.  It wasn't used, so it wasn't really tested, checked, QA'd, fixed or fleshed out.  As we start to change how the system is used on a regular basis, we're going to uncover stuff acting wonky.

[2016-01-15 21:05] #73 closed

[2016-01-18 20:47] dtpowl commented on #49
@partnersmap Is this issue still a concern?

[2016-01-18 20:56] #69 closed

[2016-01-18 20:56] #68 closed

[2016-01-18 20:56] #71 closed

[2016-01-19 20:09] partnersmap opened #76 "Organizations filter"
I've noticed that deleted Organizations still show up in the organization filter above the time slider. Most likely once we are through most of this beta testing, all uploaded Organizations will stay in the database (unlike projects - which might be a little more fluid). It might not be necessary to de-cache organizations when deleted, but "Inactive test" and "Test Active" are still in there. Is i

[2016-01-19 20:18] partnersmap opened #77 "New Functionality: New Data Field"
We are looking into allowing users to filter data points based on a variable that identifies the "Data Source." We would like this filter to be to the right of countries (below the time slider). This would be a variable that is identified by us (i.e. "Open Data" "STH Coalition Partner" "2013-14 Deworming Inventory"). Basically, we want the user and ourselves to be able to filter out data points ba

[2016-01-19 20:35] partnersmap opened #78 "Date Provided Auto fill"
Is it possible to have the "date provided" variable auto fill when uploading projects via batch file. I believe it functions as an auto fill variable when individual projects are added through web-based form submissions (the date provided is the date the data was uploaded).

[2016-01-19 21:51] #76 closed

[2016-01-19 21:51] #60 closed

[2016-01-27 17:34] partnersmap opened #81 "Next Steps: Clear site data"
As per discussion with Mitchell. We are planning to swipe the site clean of projects. Following this, small batches will be uploaded gradually (up to 2000 projects total). Initially, we will upload small amounts to identify any arising issues.

[2016-01-27 17:34] partnersmap commented on #78
Can this issue be closed?

[2016-01-27 17:51] dtpowl commented on #81
How soon do you want to start on this? We can clean out the existing database today, if you're ready.

[2016-01-27 17:54] partnersmap commented on #81
We can wait until "New Functionality: New Data Field #77" is complete. I will add this data field to the current batch files that I have and then upload them.

[2016-01-27 17:55] dtpowl commented on #81
Sounds good. There's a PR open for #77, so that should be going live soon.

[2016-01-28 19:24] vitchell commented on #78
@partnersmap Just to provide a little context, when we complete code, you'll see a little reference like you do above ^^^.  But then the next step after this is taking that complete code, which is basically stored in its own little area, and merging it into the main code area.  After that, we deploy it to the live application.

Once the code gets merged, this issue will automatically close itself.

[2016-01-28 19:24] #78 closed

[2016-01-28 19:25] #77 closed

[2016-01-29 19:13] dtpowl commented on #81
@partersmap Okay, #77 should be live on production now.

Before we clean out the database, we'd like to make sure there aren't going to be any unforeseen difficulties with repopulating the database. Would you be able to provide us the CSVs for the data you'd like to upload so we can try them out in a test environment before moving forward?

[2016-01-29 19:42] partnersmap commented on #81
I've attached an xlsx version of some sample data that would be uploaded to the site. This data file has most data fields of interest full so it should be good for testing. The last column identifies the new data field referenced above. These entries are made up for this data set, but they represent variable options that may be included in the future. Note, the last 4 data entries for this data fi

[2016-01-29 20:35] partnersmap commented on #81
Just to note, the above file is just for testing (as I made up values for the data source). So these projects would need to be cleared as well.

[2016-01-29 22:00] dtpowl commented on #81
We tested an import of this data in a test environment and it appears to work correctly. Do you also want us to put it on the real site so you can verify that the import worked?

If you also have an XLS or CSV of the real data ready that we could import into a test environment, it would help us make absolutely sure we've got all our bases covered.

[2016-02-01 13:27] partnersmap commented on #81
Yeah, you can make this data set live. It's basically real data with the exception of the last column. I had to make up some stuff for "data source" because this is a variable that we expect to utilize more in the future and this older data doesn't really need it. This data set is probably better than uploading real data because it has almost all the data fields complete. You can make it live and

[2016-02-01 14:52] partnersmap commented on #81
Attached is an xls of nearly 400 projects that are finalized and ready to be uploaded. Note, these data do not include a data source term. This is older data and therefore, we don't really have a defined term for data source that we will be giving them, so that term will stay blank.
[HKI_PartnersMap_OLD_Upload.xlsx](https://github.com/nightsprout/iom/files/112414/HKI_PartnersMap_OLD_Upload.xlsx)

[2016-02-01 15:21] partnersmap commented on #81
Here is a file of a smaller amount of projects from Haiti and the Dominican Republic. Note, these data do have the data source term identified as "STH Coalition" and this data is finalized and ready to be public.
[WorldWaterRelief_PartnersMap_Upload.xlsx](https://github.com/nightsprout/iom/files/112454/WorldWaterRelief_PartnersMap_Upload.xlsx)

[2016-02-01 17:19] partnersmap commented on #81
Here's another batch of 400ish projects. These are also finalized. Just thought I would give you as much as a could.
[VitaminAngels_PartnersMap_OLD_Upload.xlsx](https://github.com/nightsprout/iom/files/112655/VitaminAngels_PartnersMap_OLD_Upload.xlsx)

[2016-02-01 17:21] vitchell commented on #81
@partnersmap The more the better.  We'll test these locally before clearing the database and starting fresh.  Although when uploading these, you should convert them to CSV format instead of using XLS/XLSX format just to ensure that there aren't any issues in the conversion process.

[2016-02-01 17:25] partnersmap commented on #81
Yeah, I've been converting to csv in the past when uploading to Partners Map. Unfortunately, GitHub doesn't seem support csv attachments. Should I email you csv versions?

[2016-02-01 17:26] vitchell commented on #81
@partnersmap Oh, I wasn't aware of that problem.  My fault!  Lets keep going with the excel formatted things for now since it facilitates the back-and-forth process here better.  But at some point in time we might want a finalized CSV-converted handoff of all the files at once.

[2016-02-01 17:37] partnersmap commented on #81
Sounds good! Just in case here is the finalized version of the "Evidence Action" projects. This file has is the same as the "EvidenceAction_PartnersMap_Test.xlsx" file, but with the data source test entries removed. Once testing is done you can upload these projects to replace the Test file.
[EvidenceAction_PartnersMap_OLD_Upload.xlsx](https://github.com/nightsprout/iom/files/112684/EvidenceAction

[2016-02-01 23:57] dtpowl commented on #81
@partnersmap The batch of test data from last week is now live on the server and should be visible in the admin section. Some problems turned up when I tried importing the real data; I opened a PR that should fix those.

@vitchell Once the encoding PR is merged I think we'll be good to start the delete/re-import process.

[2016-02-02 12:04] dtpowl commented on #81
Actually -- @vitchell we should hold off on that a little longer. There might be another issue with the map. I'll update you when I have it figured out.

[2016-02-02 17:26] dtpowl commented on #81
Okay, I think we're good to go. @partnersmap Let me know when you're ready to move forward with clearing out the database.

[2016-02-02 17:37] partnersmap commented on #81
Things look good to me! I had some time to look around and it seems like the pin issues have been fixed. I'm excited to get the new projects uploaded. Good work guys!

From our side, we are ready to move forward. All of the current projects on the site have been backed up. In fact, the spreadsheets above are mostly the old data that I have just cleaned. So, you guys can start clearing out the data

[2016-02-02 17:51] dtpowl commented on #81
Sounds great! I'll get started.

[2016-02-02 19:37] dtpowl commented on #81
@partnersmap Okay; we've repopulated the database from those four files. Check everything out in the admin interface and let us know if anything looks incorrect!

The map view should be partly correct at this point -- The pins should be there, but other information (including the menus for activities, audiences, diseases, etc.) might be missing or incomplete. The caching job has to chew through th

[2016-02-02 20:20] partnersmap commented on #81
Things are looking good!!! Partners Map 2.0. Thanks for pushing these issues through.

I will start to load some more data on new projects that we have within the next few days. These will have new organizations and new countries and should give us a feel on how things look in terms of the site stability. But so far, I don't see any issues. Moving forward we may want to look at cosmetic updates, b

[2016-02-02 20:24] dtpowl commented on #81
Awesome! Glad to hear it looks good so far.

It is possible that more issues will turn up during or after the caching process; if the front page doesn't look complete by end-of-day tomorrow, that probably means there's still a bug somewhere that we need to address.

[2016-02-02 21:35] partnersmap commented on #81
Caught one error that looks systematic. It's with identifying the "Audience." It looks like "School-aged children" is not properly identified from the batch sheet. The World Water Relief projects are a good example of this.

[2016-02-02 21:56] partnersmap commented on #81
One more: Multiple donors aren't recognized. There are a few World Water Relief projects that are good examples of this.

http://www.partnersmap.org/admin/projects/774/edit

There should be: H2O for Life|McCarty Foundation

[2016-02-04 13:43] partnersmap opened #86 "Audience Data Field - "School-age children""
Looks like school-age children are being mis-identified to pre-school age children when a batch upload is used.

It also looks like not all audience options are present when viewing the project.
![image](https://cloud.githubusercontent.com/assets/16598522/12816575/32f43328-cb1b-11e5-9a64-124c58ef2213.png)

This is from a World Water Relief project, which are all projects with school-aged children

[2016-02-04 13:55] partnersmap opened #87 "Multiple Donor data field"
Seems like only one donor is imported for a project even for those that contain multiple donors on the batch file. With the platform, I'm not sure if it's possible to have multiple donors per project?

Example: World Water Relief

![image](https://cloud.githubusercontent.com/assets/16598522/12816724/0c45a8a0-cb1c-11e5-936d-912c1d941cb0.png)

![image](https://cloud.githubusercontent.com/assets/1659

[2016-02-04 13:58] partnersmap opened #88 "Pin Issue - Organization Filter"
I'm not sure if this is a data cache issue, but I thought I would identify it.

On the organization filter - click "Helen Keller International"
It brings you to the south pacific with no pins.

[2016-02-04 14:02] partnersmap opened #89 "Broken URL - Organization Filter"
1. Using the organization filter - Select an organization
2. Scroll to the bottom of the page and click "Next"
3. This brings you to the "Page not found" link

This is the case for all organizations.

[2016-02-04 14:35] partnersmap opened #90 "List Values - Admin/user view"
Variables with list values seem to be incomplete with their options.

![image](https://cloud.githubusercontent.com/assets/16598522/12817802/f22ffd2a-cb21-11e5-9449-95d9f3f64112.png)

After uploading all of the batch forms, I will be creating user names and logins for organizations to edit/update uploaded projects. We would want to have the complete list available for each data field.

Current valu

[2016-02-04 15:59] partnersmap opened #91 "Data Exporting"
I've tried a few times to see if I can export various datasets from the site. Partners Map says that the dataset should be emailed, but I haven't received anything. I tired this under admin as well as a user account.

[2016-02-08 17:56] dtpowl commented on #86
There was a bug causing the importer to combine these two categories into one; I've opened a PR to fix the bug and manually corrected the WWR projects in the database.

[2016-02-08 17:56] dtpowl commented on #87
It looks like it should be possible in theory for there to be multiple donors; there might just be a bug in the importer. I'll look into this a little more.

[2016-02-08 19:29] dtpowl commented on #87
PR #93 fixes the underlying issue, but there are two remaining things to take care of. We need to figure out the best way to fix the data in place, and we need to fix the user interface to allow adding multiple donors to a project manually.

[2016-02-08 19:39] dtpowl commented on #88
I don't think this is a caching issue, but a real bug of some kind. I'll look into it.

[2016-02-08 21:11] dtpowl commented on #90
The lists are generated from the values present in the database; since we deleted everything and re-imported, any values for these fields not present in the newly imported data won't appear as an option in the list.

For now, I can fix this by manually creating the options in the database, but a better solution for the future would be to provide an interface you can use to do it yourself.

[2016-02-08 21:44] #86 closed

[2016-02-08 21:44] #87 closed

[2016-02-08 21:44] #88 closed

[2016-02-08 21:45] #89 closed

[2016-02-08 21:46] dtpowl commented on #90
Okay, I think the complete list will now be available for each category. If anything is missing or there are any other problems with the lists, let me know.

[2016-02-09 18:00] partnersmap commented on #81
Hey guys, thanks for pushing through those issues so quickly! I was wondering how much of a pain it would be to clear the projects one more time? With the issues for uploading audience and donors, I figure it would be more of a time saver to just re-upload as oppose to manually checking these data fields. Would clearing and re-uploading projects interfere with the issue updates that you guys have

[2016-02-09 23:44] dtpowl commented on #81
No problem! I'll go ahead and do that now.

[2016-02-09 23:46] partnersmap commented on #81
You can wait on the re-upload. I updated the "data source" field for a few
of the organizations.

On Tuesday, February 9, 2016, Daniel Powell <notifications@github.com>
wrote:

--
*Jedidiah Snyder, MPH*
Senior Program Associate - Data Manager
Children Without Worms
The Task Force for Global Health
(404) 687-5618 (Office)
(319) 936-2276 (Mobile)
jsnyder@taskforce.org

[2016-02-09 23:51] partnersmap commented on #81
I can work on uploading the projects tomorrow, if you clean the ones on
there now. With the uploading process looking good, I'm going to move
forward with the rest of the projects we have. About 2000 from 20
organizations. The map should be looking pretty sexy soon!

On Tuesday, February 9, 2016, Jedidiah Snyder <jsnyder@taskforce.org> wrote:

--
*Jedidiah Snyder, MPH*
Senior Program Associate - D

[2016-02-10 17:48] dtpowl commented on #81
Sounds great! The map should be clean now.

[2016-02-10 21:04] partnersmap commented on #81
I seem to be having some trouble uploading the batch files. It reads "0
projects were uploaded successfully" after trying to upload. Attached
should be the same projects as the one I sent a while back (World Water
Relief). I've been successful uploading batch files before. I wasn't sure
if I needed to update data field titles? Let me know if you see what I'm
doing wrong.

On Wed, Feb 10, 2016 at 1

[2016-02-11 14:06] partnersmap commented on #81
You can ignore that last comment. I got things working. Things are looking good so far!

[2016-02-11 15:15] dtpowl commented on #81
What did the problem turn out to be with the upload?

[2016-02-11 19:17] partnersmap commented on #81
I think it was error on my part. But, I uploaded most of the projects we have this morning. I'm still holding back on a few files for data cleaning. There are about 1600 projects from 19 organizations with a good mix of input values. It looks like you guys have done a great job addressing the functionality issues! Thanks for the push on fixing these. I will still go through and simulate situations

[2016-02-12 00:15] dtpowl commented on #91
@partnersmap I found and fixed a problem with the database query used to generate export files; I think this should take care of the issue.

[2016-02-12 14:16] partnersmap opened #98 "Cosmetic update - Descriptive statistics"
The old platform that Partners Map was adopted from was more interested in identifying "Active Projects." Our approach is slightly different. For this map we value active projects just as much as closed projects. For instance, a water system installed in a community or a deworming campaign may still be relevant to partners interested in what's going on in a country/district. We've addressed users

[2016-02-12 14:23] partnersmap opened #99 "Pin Issue - Sector filter"
I suspect this has the same cause as what we saw before with the Organization filter, with URLs to closed projects.

Click on Sectors ==> NTD ==> Map pin for Peru (10 projects)

It brings you to:

"We're sorry

There as an error and the page couldn't be loaded."

It looks like it does this for all closed projects. At the moment, this is the only filter that seems to have this issue anymore.

[2016-02-12 14:28] #81 closed

[2016-02-12 14:36] partnersmap opened #100 "URL issue - Donor links"
Click on "Organizations" filter ==> Select "Americares" ==> Select any project link ==> Scroll down and select the "Johnson  & Johnson" link under "Donors" on the left hand side of the screen.

This brings you to:

"We're sorry

There as an error and the page couldn't be loaded."

I suspect this is linked to our recent updates on donor uploading. This is not an immediate issue but I thought I woul

[2016-02-12 14:45] partnersmap opened #101 "General Question - Global vs Partnersmap.org"
Under the partners map admin and user view there are two sites created. One titled global and the other partnersmap.org. I was wondering what is the difference and if we need both? My concern is confusion of partner users when the log-in.

[2016-02-12 16:47] dtpowl commented on #101
I'm not sure why there are two -- I think somebody used the admin tools to create the "www.partnersmap.org" one a while back but I'm not sure why. I believe they're identical, but the site that's actually visible at http://www.partnersmap.org is in fact the site named "global."

The "global" site is special, and will always include all the projects in the database; we can't remove that one.

I thi

[2016-02-12 16:48] dtpowl commented on #101
However, I'm not especially familiar with the "sites" feature of this project; in the time I've been working on this project, only the "global" site has been in use.

[2016-02-12 16:48] partnersmap commented on #101
Removing it sounds good to me.

[2016-02-12 16:50] partnersmap commented on #101
Yeah, I'm not familiar with it either. I was just thinking of it from a user perspective, that the two site might confuse them (as it confuses me as well).

[2016-02-12 16:55] dtpowl commented on #101
Yeah, it is confusing. If you want, I think I can get rid of the extra site and leave only the global one.

[2016-02-12 16:56] partnersmap commented on #101
That sounds good to me.

[2016-02-12 17:18] dtpowl commented on #101
Okay, that change is made.

[2016-02-15 15:29] partnersmap commented on #101
Is there any way to change the wording of "global" to "Partners Map"? I tried doing it under the admin, but it looks like "global" is linked into the code for projects. If it's not an easy fix, ignore this. I'm just thinking about the users and trying not to confuse them.

[2016-02-15 15:45] vitchell commented on #101
It is linked in the code, yes.  Could you point to the places where "global" is showing up for end users?  There might be other ways to address thisl

[2016-02-15 18:49] dtpowl commented on #101
Yeah, it's hardcoded but we might be able to work around it by allowing you to set a "display name" for the site or something like that.

[2016-02-15 19:01] partnersmap commented on #101
It should be okay for now. I'll just address the definition of "global" in the users manual that I am drafting.

[2016-02-16 15:59] partnersmap opened #105 "Changing variable values: bulk process"
Hey guys,

I caught an error on my part going through the variable options. I think it goes back to merging the Audience and Target Groups and their definitions. I have two variables within the Audience data field that share the same definition but I worded them differently.

PRE-SCHOOL CHILDREN
PRESCHOOL-AGE CHILDREN

Both wordings are used on the map and I would like to change them all to PRESCH

[2016-02-16 18:01] dtpowl commented on #105
There's not currently a way to do this from the admin interface but it won't be hard for me to do manually.

[2016-02-16 18:37] partnersmap commented on #105
That would be great if you could! Unfortunately, I didn't catch it until looking through the options under the user/admin for an user manual. There was one other duplicate under Activities:

MONITORING & EVALUATION
MONITORING / EVALUATION

Is it possible to remove the MONITORING / EVALUATION option from the list? The other option is what was being used with the batch files. There are no projects w

[2016-02-16 18:52] dtpowl commented on #105
Okay; both of those changes are now made.

[2016-02-16 18:55] partnersmap commented on #105
Awesome, thanks! Is it possible to remove "Pre-school children" from the
home page Audience filter as well?

On Tue, Feb 16, 2016 at 1:52 PM, Daniel Powell <notifications@github.com>
wrote:

--
*Jedidiah Snyder, MPH*
Senior Program Associate - Data Manager
Children Without Worms
The Task Force for Global Health
(404) 687-5618 (Office)
(319) 936-2276 (Mobile)
jsnyder@taskforce.org

[2016-02-16 21:23] #105 closed

[2016-02-16 21:23] #101 closed

[2016-02-17 16:02] dtpowl commented on #98
Yep, all this sounds good to me.

Sure, we can do this.

[2016-02-17 19:40] #99 closed

[2016-02-17 19:40] #100 closed

[2016-02-17 21:32] partnersmap commented on #98
Hey guys, it looks like you're updating this now. If it's easier, we can go ahead and replace the "All Active Projects" list with "All Projects"

Possibly filtering them with active projects first?

[2016-02-17 21:33] partnersmap commented on #98
This may address another issue I was going to bring up, data exporting of all projects by public users

[2016-02-18 22:14] dtpowl commented on #98
@partnersmap It's not easier, but it's also not harder -- so it's totally up to you.

The data exporting thing is also doable but it's really a separate feature; the export functionality is implemented differently than the project list.

[2016-02-18 22:19] vitchell commented on #98
I think it also depends on the definition of "public users".  IIRC right now the export requires a user account, which was added in for some specific technical reasons

[2016-02-18 22:21] dtpowl commented on #98
As long as the export is for the entire project list, maybe we could bypass the mailer entirely and just serve up a cached csv file with everything in it? We could regenerate it periodically as a background job.

[2016-02-22 20:22] dtpowl commented on #98
@partnersmap Hey! Just wanted to check with you on this -- we weren't sure if you were asking for the "All Projects" list because you thought it would be easier for us, or because that's how you'd actually prefer the software to work. It would be an easy change, so just let us know how you'd like it to work and we'll make it happen.

As far as the data export by public users goes, there are some p

[2016-02-22 20:32] dtpowl opened #108 "Data export for public users"
@partnersmap

Hi!

There are two directions we can go in with this feature, so before I started working on it I wanted to give you an overview of what our options are.

The app used to have a public export option but it was removed because it received a large volume of automated requests that ground the server more or less to a halt. If we want to make exports public again, we'll have to do someth

[2016-02-22 21:01] partnersmap commented on #108
Hey, sorry, this was a miscommunication on my side. By public user I was just referring to non-admin users (as we have a few different privileges with exporting the database from the admin dashboards).

I really like option 2, but maybe we can save that for a later upgrade. For now, I think we are okay with the need to generate a log in to download the projects. The main concern was that they can

[2016-02-22 21:03] partnersmap commented on #98
For now can we change the text of "All Active Projects" on the home screen to "All Projects". Also, is it possible to sort projects to place the active ones first on this list on the home screen?

[2016-02-23 18:48] dtpowl commented on #98
@partnersmap Sure thing.

[2016-02-24 13:25] partnersmap commented on #108
I tried a trial export this morning from the home page and it looks like only active projects are exported. We would want both closed and active project to be exported for all data exporting scenarios.

[2016-02-24 13:34] partnersmap commented on #98
Is it possible to update "Project Sectors" and "Project Locations" descriptive statistics as well? We would like these to include numbers for closed and active projects. Right now, it looks like they are reporting active only.

![image](https://cloud.githubusercontent.com/assets/16598522/13286745/44284e48-dad1-11e5-994a-ef98de83ea2b.png)

[2016-02-24 18:57] dtpowl commented on #108
Ahh, I understand now.

Sounds like I overlooked the export functionality when I was removing the active projects stuff. That'll probably be easy to fix.

[2016-02-24 20:50] partnersmap opened #110 "New Cosmetic Changes: None Priority List"
I'm going to start listing small non-essential cosmetic changes here. I think we will move forward with these after we gauge how difficult and time consuming they would be on your end.

[2016-02-24 20:53] partnersmap commented on #110
**Location blank for non-subnational level projects:**

Projects that are reported at the national level do not specify a location on the project page.

Example: Click on the project in South America
![image](https://cloud.githubusercontent.com/assets/16598522/13300539/a8c0e04e-db0e-11e5-8d4e-28faaee7a99d.png)

[2016-02-24 21:11] partnersmap commented on #110
**Map indicator for national level projects:**

This may be a little hard to explain here, but would it be possible to alter the indicator for national level projects. When clicking on a country the indicators become confusing. Ideally we would want the number of country level only projects to be reported separately from all projects.

Take the Philippines for example. One project "Johnson & Johns

[2016-02-24 21:16] partnersmap opened #111 "Mandrill Add-on: Shutdown Notice"
We received this notice from Heroku. Will this impact Partners Map functionality?

Heroku Developer,

We have identified you as either the owner or collaborator of the following app(s) that has the Mandrill add-on installed:

task-force-prod

The Mandrill team has chosen not to continue development of this add-on. It is not possible to migrate your existing account directly to Mandrill; a new acco

[2016-02-24 21:39] dtpowl commented on #98
@partnersmap Okay, I've made that change and added it to #109.

[2016-02-24 21:40] dtpowl commented on #111
@partnersmap I'm not sure if we're actively using Mandrill or not. It *might* be used to send the export emails. I'll look into it.

[2016-02-24 22:11] dtpowl commented on #110
This is an easy enough fix that I went ahead and did it; the fix is in PR #112.

I think the root issue here is a bug -- I think the intended behavior was for the national-level map indicator to disappear once the country is clicked. But if we actually did that, projects that have no subnational location won't have a map pin at all, so maybe that's not really ideal either.

Having two separate ind

[2016-02-26 13:41] partnersmap commented on #90
I'm working on cleaning up data fields and list options to hopefully fit what our users would want to share and not overwhelm them with the number of data fields. Some of the data fields are from the older platform and don't really apply to our audience. I was wondering if we could remove them.

Data fields to remove:
(1) TAGS
(2) CLUSTERS
(3) CROSS-CUTTING ISSUES
(4) PRIME AWARDEE
(5) IDP/REFUGEE

[2016-02-26 19:03] dtpowl commented on #90
@partnersmap Sounds good. I've removed those three diseases.

Removing the data fields is a little more involved; I'm working on that now.

[2016-02-26 19:27] dtpowl commented on #90
A PR for that is now up.

[2016-02-29 18:52] partnersmap opened #115 "Donor Duplicates"
I'm not sure if this is an issue on my end for uploading projects, but some donors seem to be un-merged even if they have the same name. Is it a result of the ampersand?

Johnson & Johnson:
![image](https://cloud.githubusercontent.com/assets/16598522/13405251/8b615a98-deeb-11e5-9062-c61ee10a8874.png)

Michel and Susan Dell Foundation:
![image](https://cloud.githubusercontent.com/assets/16598522/13

[2016-03-01 15:32] partnersmap opened #116 "Dot duplicates at admin 2 and 3 levels when filtering by sector"
Example:
Filter WASH projects using sector filter
Click on Haiti (10 projects)

![image](https://cloud.githubusercontent.com/assets/16598522/13431786/d5ffd176-df98-11e5-9b61-ee11beb68aa5.png)

[2016-03-01 16:47] dtpowl commented on #115
Yeah, my guess is that the ampersand is throwing off the importer's attempts to merge them. I'll investigate.

[2016-03-01 18:12] dtpowl commented on #115
@partnersmap No problem! I've opened a PR to fix the import problem, so special characters shouldn't cause problems in the future. I've also merged the donors.

[2016-03-01 18:14] dtpowl commented on #116
Looking into this one now.

[2016-03-01 19:27] partnersmap opened #118 "New text for "Data Share" Blurb on Homepage"
I was wondering if you guys could update the text and files on the homepage. I've been working on updating text to the other pages of the site, but these edits look like they can only be done on your end.

**SHARE YOUR DATA: “WHO IS DOING WHAT, WHERE?”**
The Neglected Tropical Disease (NTD) Partners Map shows **where** organizations are working, **what** activities they are doing, and **how** to c

[2016-03-02 15:27] partnersmap commented on #118
It might be better to have links to documents that I can update instead of hardcopy documents.

Here's the link to the "guide"
https://drive.google.com/open?id=0B0VhLx24cyC5Y05EcWNUVmxBVHc

And the link to the "form"
https://drive.google.com/open?id=0B0VhLx24cyC5dDJVdV8wVE16cE0

[2016-03-02 19:25] dtpowl commented on #118
That's a really good idea. I've updated the PR with the new links.

[2016-03-02 20:07] yepher commented on #111
You may want to have a look at [SparkPost](https://www.sparkpost.com/mandrill-migration-guide) too. You can send up to 100K email/month for free.

[2016-03-02 20:50] richleland commented on #111
Note that if you're interested in using the SparkPost add-on there is a guide here: https://www.sparkpost.com/blog/mandrill-heroku-alternative-migrating-from-mandrill-to-sparkpost-on-heroku/#.VtdRjZMrKEI - also worth noting is that we're waiting for heroku to update our pricing, so the pricing you see as of this comment will change dramatically.

[2016-03-03 20:11] #116 closed

[2016-03-03 20:13] #115 closed

[2016-03-04 18:43] partnersmap opened #121 "Update"
Hey guys, I just wanted to follow up with you to get an idea of some of the changes that I mentioned before. We have started to advertise the map a little more and I'm about to send out a welcome email to partners who we have included on the map so far. With that said, I want to wait until some of the cosmetic issues have been updated. Most new users probably won't notice some of the more technica

[2016-03-04 19:34] dtpowl commented on #121
@partnersmap Hey! I think all of these fixes are complete and merged. I'll go ahead and deploy them now.

[2016-03-04 19:40] dtpowl commented on #121
@partnersmap Okay, the app deployment is complete. All that stuff ought to be available on the server now.

[2016-03-04 19:47] partnersmap commented on #121
It looks good! Can I go back on my bolding on the share data blurb (I might have been a little ambitious...). Can it read like below as one paragraph and no bolding? Just underline for the hyperlinks.

The Neglected Tropical Disease (NTD) Partners Map shows where organizations are working, what activities they are doing, and how to contact them for more information. To showcase your projects on th

[2016-03-04 19:48] dtpowl commented on #121
Sounds good; will do.

[2016-03-04 19:52] dtpowl commented on #121
All right -- the blurb revision is live.

[2016-03-04 19:52] partnersmap commented on #121
Beautiful! I was just going to say that fitting on two lines would be ideal. Thanks!

[2016-03-04 19:57] dtpowl commented on #121
No problem!

[2016-03-04 20:02] partnersmap commented on #121
The export, blurb, and titles look good on my end. I'm guessing the metrics for "Project Sectors" "Project Locations" "Some Organizations" will take a while to update?

[2016-03-04 20:07] dtpowl commented on #121
Oh, you're right -- I should have mentioned that. Those should update overnight.

[2016-03-04 20:10] partnersmap commented on #121
Sounds great! It'll be good timing. I hoping to push a lot of the advertising next week. Thanks for all work so far to make Partners Map advertisable!

[2016-03-04 20:14] dtpowl commented on #121
Ah, cool. I'll keep an eye on the caching job tonight to make sure the sidebar statistics update correctly; if anything goes wrong I'll do my best to work it out by Monday.

[2016-03-04 20:19] dtpowl commented on #121
But it ought to work fine, of course. The one thing I'm not certain about is whether it'll run fast enough to update all the projects every night; there are a *lot* more projects on the live site now than I realized.

[2016-03-07 13:17] #118 closed

[2016-03-07 13:17] #91 closed

[2016-03-07 13:18] #90 closed

[2016-03-07 13:18] #98 closed

[2016-03-07 13:23] partnersmap opened #122 "Admin: Export users"
Under Admin > Users > Export Users

Gives the following error:

"We're sorry

There as an error and the page couldn't be loaded."

[2016-03-07 13:40] partnersmap opened #123 "Sector indicator"
Is it possible to change one of the indicators for the sectors. Right now NTD and nutrition have the same indicator.
![image](https://cloud.githubusercontent.com/assets/16598522/13571019/08762d2a-e440-11e5-9013-694db62146ee.png)

Looking at the other site, there is a food indicator that could be used for nutrition. And possibly the cross for NTDs.

[2016-03-07 13:58] partnersmap opened #124 "Priority: Countries with one project"
Looks like the link is broken for all the countries with one projects. This might be a byproduct of #110 "Location blank for non-subnational level projects"

[2016-03-07 15:19] partnersmap opened #125 "Redefine "Monitoring & Evaluation" activity"
I know I asked to change this a while ago and it looks like I might have gone with the wrong definition. Is it possible to change all "Monitoring & Evaluation" activities back to "Monitoring / Evaluation"

During an upload this morning I saw that the & seems to cause a problem with uploading and created a new variable for activities

![image](https://cloud.githubusercontent.com/assets/16598522/135

[2016-03-08 15:15] partnersmap commented on #123
It looks like "immunization" has the same * indicator as the others. We could use the stethoscope indicator here
![image](https://cloud.githubusercontent.com/assets/16598522/13605665/abe91fcc-e516-11e5-9a54-f459f6d074dc.png)

[2016-03-08 16:35] dtpowl commented on #124
Oh no! Thanks for pointing this out. I'm working to fix now.

[2016-03-08 16:52] dtpowl commented on #124
@partnersmap Okay, this is now fixed on the live site.

[2016-03-08 16:52] dtpowl commented on #125
No problem!

[2016-03-08 16:53] partnersmap commented on #124
Thanks for the quick fix!

[2016-03-08 16:53] #124 closed

[2016-03-08 16:54] #121 closed

[2016-03-08 17:01] dtpowl commented on #125
@partnersmap Hey -- so the "&amp;" thing is really just an issue with the display of the activity name, rather than the upload itself. Special characters have to be converted into another form to be stored in the database, and normally we convert them back when we show them on the site. For some reason, that re-conversion isn't happening on the admin side, but that issue is fixable.

So if you pre

[2016-03-08 17:02] dtpowl commented on #125
Or if you'd rather just change back to the slash, we could do that, too. We can also change back to the slash but fix the ampersand issue for the future.

[2016-03-08 17:05] partnersmap commented on #125
We can go back to the slash. It was an error on my part for changing it to the ampersand. In literature the ampersand is more common but I think it makes things easier and fits the rest of the activities on the site when a slash is used

[2016-03-08 17:05] dtpowl commented on #125
Okay, sounds good.

[2016-03-08 17:53] dtpowl commented on #125
@partnersmap This change is made, but it won't show up on the front-end until the caching job runs, unfortunately.

[2016-03-08 18:26] dtpowl commented on #123
@partnersmap Yep, it should be possible to change the icons.

I apologize for not knowing this, but I wasn't actually aware there was another site! Where can I find that?

[2016-03-08 18:29] partnersmap commented on #123
Yeah, I'm not sure about the conditions or how we acquired the code for Partners Map (I was brought on after this). But it's modeled/nearly identical to this site https://www.ngoaidmap.org/

[2016-03-08 18:31] dtpowl commented on #123
Ah, I see! Thanks!

Yeah, this was originally an open-source project so the code is available for anybody to use. It looks like the Partners Map code has been pretty heavily modified under the hood from the open-source version, but that happened before I got involved so I don't know the history there, either.

[2016-03-08 18:33] partnersmap commented on #123
haha yeah, we're in the same boat.

[2016-03-08 19:36] #123 closed

[2016-03-08 21:14] #125 closed

[2016-03-08 21:21] partnersmap opened #127 "Metrics for sectors filter"
Is it possible to update the metrics on the sectors filter to match that of the that is shown next to the list of projects (i.e. include all projects)?

If this is a tricky fix, we can also just remove the metrics on the filter
![image](https://cloud.githubusercontent.com/assets/16598522/13616860/b52ccdf8-e549-11e5-98db-a0b66b6dd154.png)

[2016-03-08 21:56] dtpowl commented on #127
@partnersmap Ah, this shouldn't be too tricky -- I just forgot it was there.

[2016-03-09 20:36] #127 closed

[2016-03-10 13:52] partnersmap opened #129 "Mobile Interface"
This is not a huge issue and if it is too time consuming to fix, ignore it. I just notice the other day when I was looking at the site on a mobile device that the "Data source" filter does not line up with the rest.

![image](https://cloud.githubusercontent.com/assets/16598522/13671312/36669288-e69d-11e5-8f36-499ab5eabc37.png)

Is this the case for you as well? Is it fixable?

[2016-03-10 16:36] dtpowl commented on #129
@partnersmap Yep, this should be fixable.

[2016-03-11 01:17] dtpowl commented on #129
@partnersmap Apologies for the delay! Fix should be live now.

[2016-03-11 13:18] partnersmap commented on #129
Is there anyway to make the "Data Source" on one line? or are we just running out of space on the bar? Would thinking about a new variable name that is shorter in characters help solve this?

![image](https://cloud.githubusercontent.com/assets/16598522/13703156/d19b9dc4-e761-11e5-97db-81544dffcfae.png)

[2016-03-11 13:23] partnersmap commented on #129
Also, a little nitpicky, but it looks like the first list item for each filter variable is now indented
![image](https://cloud.githubusercontent.com/assets/16598522/13703241/87cdba00-e762-11e5-8bc1-03077f404dd9.png)

[2016-03-11 16:07] dtpowl commented on #129
@partnersmap Hmm. When you're seeing "Data Source" split onto two lines, is that on desktop or mobile?

[2016-03-11 16:09] partnersmap commented on #129
Right now, it looks like it's on both desktop and mobile. I'm using chrome for both.

[2016-03-11 16:24] dtpowl commented on #129
Interesting. It might take me a few minutes to figure that out; it's not happening for me on either desktop or mobile. I'll go ahead and push a fix for the other problem in the meantime.

[2016-03-11 16:47] dtpowl commented on #129
@partnersmap Oooh, I think it was a caching issue. Try it now.

[2016-03-11 16:49] partnersmap commented on #129
Yeah! Looks good now. Thanks!

[2016-03-11 18:33] partnersmap opened #130 "Timed out screen"
I haven't seen it in a while (which is a good thing!), but do you think you could update the timed out screen to have my contact information: Jed Snyder - jsnyder@taskforce.org

[2016-03-11 18:39] dtpowl commented on #130
Will do!

[2016-03-11 18:51] partnersmap opened #131 "Social media posting"
I'm not sure if this is something that you could do. But when posting to social media wrong meta-text is used to describe the site. The logo is also too large.

![image](https://cloud.githubusercontent.com/assets/16598522/13712152/0c69d5a0-e790-11e5-9c6f-d47cb05a6e4d.png)

I don't have much knowledge in this area. Is this something that you guys could fix?
Ideally, we'd want the description to rea

[2016-03-11 19:11] dtpowl commented on #131
Yep, I think this should be possible. Ultimately, it's up to the social media site itself to select an appropriate image and text snippet, and while we can't control them directly, there are ways to embed hints into the page markup to encourage them to make the right choice.

[2016-03-11 19:16] dtpowl commented on #131
@partnersmap Do you guys happen to have an official Twitter account?

[2016-03-11 19:30] dtpowl commented on #131
@partnersmap And/or an official Facebook presence?

[2016-03-11 20:44] partnersmap commented on #131
Not for partners map. But we are advertising it through Children Without Worms.

https://twitter.com/CWWDirector?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor

https://www.facebook.com/Children-Without-Worms-182694558452397/

[2016-03-11 20:46] #129 closed

[2016-03-14 16:34] partnersmap opened #133 "Priority: Filter bars"
When you hover over the filters like "sector" "audience" etc. the lists appear but they disappear too quickly to move the cursor up to an item to select

[2016-03-14 16:40] partnersmap commented on #133
I'm not sure if this is on my end. It's fine on the mobile version but doesn't seem to work on chrome and explorer browsers

[2016-03-14 18:45] dtpowl commented on #133
I'm not seeing exactly this problem but I am seeing another rendering issue. I'd bet that they're related. Working on this now.

[2016-03-14 18:51] partnersmap commented on #133
If this helps:

Sectors is working correctly
![image](https://cloud.githubusercontent.com/assets/16598522/13755901/c0778d48-e9f3-11e5-8451-1276548a1f3d.png)

But the other filters don't allow you to scroll up before the menu disappears. Visually, they seem to be functioning different. The label disappears and there isn't the color highlight.

![image](https://cloud.githubusercontent.com/assets/165

[2016-03-14 19:08] dtpowl commented on #133
@partnersmap Should be fixed now.

[2016-03-14 19:10] partnersmap commented on #133
Looks good. Thanks!

[2016-03-14 19:10] #133 closed

[2016-03-14 22:19] dtpowl commented on #131
@partnersmap This is now live. Facebook and Twitter probably cache this info, though, so it might take a day or two for the new image and description to start showing up on social media.

[2016-03-15 12:58] #131 closed

[2016-03-15 18:41] dtpowl commented on #130
@partnersmap Oops, I forgot to let you know that this was done.

[2016-03-15 18:49] #130 closed

[2016-03-16 18:33] #122 closed

[2016-03-22 14:53] partnersmap opened #135 "Search tab update"
It looks like the data pulled in from the search tab might not be updated to that of the map. I think there is a cache issue, as a lot of the projects seem to be duplicates. It also looks like it's only reporting active projects. Would this be an easy fix?

Also, possibly adding additional filters on the left hand side.

Country
Organization
Activities
Diseases
Data source

[2016-03-22 14:57] partnersmap opened #136 "Filtering issue for newly added disease"
Gastrointestinal Illness was recently added as a disease. When you use the filter bar the numbers are correct when looking at projects under that disease globally.

![image](https://cloud.githubusercontent.com/assets/16598522/13955867/b7ce1a66-f01c-11e5-85a8-1d710889bdcd.png)

but when you click on a country, it reports all project in the country and the filter is lost.

![image](https://cloud.git

[2016-03-22 15:03] partnersmap opened #137 "Number of project in the indicator blurb"
It looks like this is a metric that was hiding from the other updates. For example, when filtering by NTD sector for Haiti, we see that there are 78 projects and the blurb reports that this is out of 300 total.

![image](https://cloud.githubusercontent.com/assets/16598522/13956026/5252ba56-f01d-11e5-9655-4de4040c761a.png)

However, there are really only 100 projects in Haiti.

![image](https://clo

[2016-03-22 15:21] partnersmap opened #138 "New sector update"
One project for "immunizations" has been added. Looks like the filtering tab might need to be updated to include this sector.

[2016-03-22 16:47] dtpowl commented on #135
This sounds like it will probably be an easy fix; I'll look into it.

[2016-03-22 16:48] dtpowl commented on #138
@partnersmap The filtering tab ought to update automatically; If I recall correctly this is a caching thing and it will be okay tomorrow but I'll double-check.

[2016-03-23 01:31] dtpowl commented on #136
@partnersmap This one was tricky but it should be working now.

[2016-03-23 13:24] partnersmap commented on #136
Looks like there is still a bug when going to the 2nd administrative level. It looks like it is only an issue for the Dominican Republic. Is this something on my end? Within the data entry process?

![image](https://cloud.githubusercontent.com/assets/16598522/13986458/ee1607f2-f0d8-11e5-95a0-d8dfe3c39b8b.png)

After clicking on one of the "4's" it only gives one project.

![image](https://cloud.gi

[2016-03-23 14:23] partnersmap commented on #136
When looking at all World Water Relief projects in the Dominican Republic (these are the ones with the new disease - Gastrointestinal Illness), the numbers also don't match up. It reports 10 projects total when there are really 12. This bug might be related.

![image](https://cloud.githubusercontent.com/assets/16598522/13988214/54edc5de-f0e1-11e5-8090-4cfa064406c8.png)

[2016-03-23 15:01] dtpowl commented on #136
@partnersmap Yeah, it's possible that these are related. It's probably a problem on my end and not yours. Looking into it now.

[2016-03-23 19:03] dtpowl commented on #136
I made a fairly large set of changes for this, so the fix is in PR #140.

[2016-03-25 00:38] #137 closed

[2016-03-25 14:20] partnersmap commented on #138
Looks like the "Immunization" project is still left out of the filter tab for "Sector". It is updated for the metric on the left hand side of the project list though

[2016-03-25 17:19] dtpowl commented on #136
@partnersmap Try this one out now.

[2016-03-25 17:22] partnersmap commented on #136
It looks like both pin issues are still present

[2016-03-25 17:24] dtpowl commented on #136
@partnersmap Oh, I'm sorry! We merged the changes but I don't think we deployed.

[2016-03-25 17:26] dtpowl commented on #136
@partnersmap I apologize for that. Changes are live now.

[2016-03-25 17:36] partnersmap commented on #136
No worries! It looks like things are still fishy with the Dominican Republic pathway.

Using the Disease->Gatrointestinal illness->Dominican Republic  route, after clicking on one of the "4" it brings you to one project. For the three "4s", the only projects that show up at the 2nd administrative level are "WASH in Schools - Batey Los Robles" "Community Clinic Clean Water System - Batey 7" and "WA

[2016-03-25 17:40] partnersmap commented on #135
The project list looks good! How much of a pain would it be to add in those extra filters? If it's something that is pretty easy, I say add them. If it's a lot of work, I'll have to think about it. I'm not sure on if our users are actually using this function

[2016-03-25 17:45] dtpowl commented on #136
Okay, the "We're Sorry" page should be fixed. Working on the pin counts now.

[2016-03-25 17:49] dtpowl commented on #136
Hmm. Actually, the Dominican Republic looks right to me.

I tried clicking each of the three regions, and each one took me to a list of four projects in that region, as expected.

Can you try clearing your browser cache and retrying?

[2016-03-25 17:57] partnersmap commented on #136
Okay, yeah. I tried it in another browser and it looks good!

It looks like there is still something with the 12 projects represented as only 10 (the last picture above). This isn't a crucial fix, because the pathways still work but I didn't know if you saw the bug for it when fixing the other issues.

[2016-03-25 18:00] dtpowl commented on #136
Cool!

Will work on the 12/10 problem next.

[2016-03-25 18:14] dtpowl commented on #136
@partnersmap Speaking of this, do we actually want the country pin to appear on the map at the regional level? I know we talked about this in another issue but I'm not sure if we ever settled on a solution.

This might be a good opportunity to fix this, if you want to prevent that from happening. In fact, it seems like it's happening for the organization filter but not for all of the others; seems

[2016-03-25 18:23] partnersmap commented on #136
If we did get rid of the country pin at the regional level, would projects that are only at the country level have an indicator? Say for example, Dominican has 12 projects in it and 2 of them are at the country level (the rest are regional/district). When you click on the Dominican, we would ideally want the 2 that are country level to still show up. So, indicators with: 4 projects in region x, 3

[2016-03-25 18:26] dtpowl commented on #136
I don't think it will be too hard, but it's a little hard to predict because the existing behavior is definitely buggy. But if I can't manage to wrap it up today I'm sure I can have it done early next week.

[2016-03-25 18:52] partnersmap commented on #136
Sounds good to me. If it is too buggy we can always abort this one. I'm not sure if the users would catch it, but it would be nice.

[2016-03-25 19:00] dtpowl commented on #136
I'll give it a shot and if any huge complications crop up, I'll give you a heads-up and we can re-evaluate. I think it'll be fine, though.

[2016-03-29 19:30] dtpowl commented on #138
@partnersmap While working on the country-level projects pin issue, I noticed a problem with the sectors view that was preventing it from rendering. Not sure if you'd come across that or not yet, but FYI I made a quick fix and it should be working again.

[2016-03-30 13:36] dtpowl commented on #138
@partnersmap This is fixed now; the Immunization sector should be visible in the menu.

[2016-03-30 13:36] dtpowl commented on #136
@partnersmap The country-level pins should be working now.

[2016-04-05 12:12] partnersmap commented on #135
@dtpowl is it possible to add in these extra search filters?

Looking at the values in the donor search bar, I noticed that the ampersand issue is showing up again there.

Johnson & Johnson just visually in how the text reads
![image](https://cloud.githubusercontent.com/assets/16598522/14281217/bea4f33e-fb05-11e5-8e01-e8922a899cd3.png)

but Micheal & Susan Dell Foundation seem to show up for each

[2016-04-06 12:52] #138 closed

[2016-04-06 12:53] #136 closed

[2016-04-13 13:33] partnersmap commented on #135
@dtpowl @vitchell Any luck on adding the filters and "&" issue mentioned above?

[2016-04-15 14:46] partnersmap opened #144 ""Donors In This Country" link"
After clicking on a country and scrolling down to the left hand side for "Donors in the country". The links to the donors seems to be broken. They take you to a page that says 'We're sorry  - there is an error and the page couldn't be loaded.'

[2016-04-15 14:47] partnersmap commented on #144
There are also a few issues related to donors and the search tab that may be related in #135

[2016-04-15 15:05] partnersmap opened #145 "Urgent!!! Broken link"
I'm not sure why this one is showing up, but our partner at Evidence Action just spotted it.

Filtering by organization: Evidence action
Click on either country (India or Kenya)

At the country level, the links to the indicators are dead.
http://www.partnersmap.org/organizations/15?location_id=151

[2016-04-15 16:44] dtpowl commented on #145
@partnersmap Looking into this.

[2016-04-15 17:04] dtpowl commented on #145
@partnersmap Okay, should be fixed now.

[2016-04-15 17:07] partnersmap commented on #145
Looks like it's merging the 2nd admin level when you click on them now

[2016-04-15 17:29] dtpowl commented on #145
Oh, you're right. This is actually happening site-wide. I see what's going on; fix on the way.

[2016-04-15 17:30] partnersmap commented on #145
Thanks for the quick response!

[2016-04-15 17:50] dtpowl commented on #145
No problem! I think it's fixed now.

I feel like we have a situation here where there's a treadmill of bugs -- fixing one thing tends to break something else, and so on. The underlying cause of this, in my opinion, is that the system the software uses for retrieving data from the database, formatting it, and presenting to the browser to render as map pins is *really* idiosyncratic, complex, and er

[2016-04-15 17:59] partnersmap commented on #145
haha yeah it seems like it's a mess in terms of the pathways... I don't imagine any other major features that we would be adding. Right now the majority of our focus has been to increase our partners utilization of the map. Hopefully, I can work with them to help identify different pathways that might have errors (like this one for example). Potentially, if the platform is heavily adopted, we coul

[2016-04-15 18:56] dtpowl commented on #144
@partnersmap Okay, working on this issue now.

[2016-04-15 19:11] dtpowl commented on #144
@partnersmap Okay, those links should be working now.

[2016-04-15 19:12] dtpowl commented on #135
@partnersmap I totally overlooked this feature request! I apologize. Working on it now.

[2016-04-15 19:13] dtpowl commented on #135
And the bug reports, too.

[2016-04-15 19:40] #145 closed

[2016-04-15 19:59] dtpowl commented on #135
@partnersmap Sorry -- Can you point me to where on the site you took this screenshot from?

![](https://cloud.githubusercontent.com/assets/16598522/14281217/bea4f33e-fb05-11e5-8e01-e8922a899cd3.png)

I've fixed some of the places where the ampersand issue appears but I can't identify where this one is.

[2016-04-15 20:04] dtpowl commented on #135
Oh! It's in the search tab, like the issue title says, of course.

[2016-04-15 20:17] dtpowl commented on #135
Okay, the ampersand thing is fixed. Looking at the next part.

[2016-04-15 20:56] dtpowl commented on #135
The issue with the MSDS donor should now be fixed.

[2016-04-15 21:04] dtpowl commented on #135
Adding additional filters to the left bar should be feasible; I'll work on that next.

[2016-04-15 22:13] dtpowl commented on #135
@partnersmap Okay, those new filters are now present on the search tab.

[2016-04-19 13:03] partnersmap commented on #144
Thanks!

[2016-04-19 13:03] #144 closed

[2016-04-19 13:03] #135 closed

[2016-04-19 19:10] partnersmap opened #146 "Kiribati Location Issue"
I'm not sure what the source of this might be, but Kiribati projects are geolocating to the wrong spot. For some reason it's showing up above south america. Is this fixable? I'm not sure how the locations were coded.

http://www.partnersmap.org/projects/3374?force_site_id=3

[2016-04-19 21:31] dtpowl commented on #146
@partnersmap Very strange. I'm sure it's fixable somehow; I'll look into it.

[2016-04-19 21:42] dtpowl commented on #146
@partnersmap Okay, I've fixed the pin location although I haven't yet figured out why it was in the wrong place to begin with.

My hypothesis is that the code which originally calculated the centroid of the country from its border vectors didn't behave correctly in this case due to Kiribati's unusual borders -- as a widely-dispersed chain of tiny islands including some spindly atolls, it's definit

[2016-04-20 12:21] partnersmap commented on #146
Thanks for the quick fix!

[2016-04-20 12:21] #146 closed

[2016-04-21 12:07] partnersmap commented on #111
Are we okay with losing Mandrill? See below:

Heroku Developer,

We have identified you as either the owner or collaborator of the following app(s) that has the Mandrill add-on installed:

task-force-prod

Your applications will lose access to the Mandrill add-on, including its data, on Wednesday, April 27th. Please export all data and refer to these guides on how to migrate to another transaction

[2016-04-21 15:48] dtpowl commented on #111
Yep, we're good to go. I switched the app over to SendGrid a while back -- the Mandrill add-on is still installed, but we're not using it. I'll go ahead and remove it so you won't get any more of these emails.

[2016-04-21 15:50] partnersmap commented on #111
Thanks!

[2016-04-21 15:50] #111 closed

[2016-04-22 16:48] partnersmap opened #147 "Error Contact email"
Is there any way to update this to my email? jsnyder@taskforce.org

![image](https://cloud.githubusercontent.com/assets/16598522/14748585/72a4410c-0888-11e6-9cd7-193b71f44385.png)

[2016-04-22 17:35] partnersmap commented on #147
Related to this the site. Has been sluggish - often landing on the page above. This started after I tried to enter projects manually through the user interface/login. From your end, does this look like this is going to be common? I would hate to advertise to our user to create new projects and have this happen to them.

[2016-04-23 01:15] dtpowl commented on #147
@partnersmap Yeah, I believe the error is performance-related. Heroku sets a 30-second time limit on requests; any request that takes longer than 30 seconds to complete is canceled and the user is shown an error.

If this was happening to you today, I think we can expect the problem to continue, so it sounds like we'll need to take some steps to improve performance.

We could improve performance e

[2016-04-27 03:23] dtpowl commented on #147
@partnersmap Okay, I think I have a fix for this. I want to get @vitchell's opinion on my changes, so I opened a pull request: https://github.com/nightsprout/iom/pull/148

I believe after this fix is merged, the timeouts will stop happening.

[2016-04-28 14:16] partnersmap opened #149 "Administrative unit 2"
I'm not quite sure of the history of the map locations. But I've recently been noticing that some admin 2 are missing. I was working on projects from Honduras when I noticed this. For example, Honduras>Intibuca>La Esperanza exists in our admin list (attached) but not on Partners Map. I'm not sure if one was made from the other or if they are independent. Is it possible to update the map locations

[2016-05-04 17:57] partnersmap commented on #147
We just got an email from the first external user to submit data through the user interface (as oppose to me uploading projects via the batch form). Things are looking good from that end!

"I just finished uploading all the projects Mundo Sano has in Argentina. It was very user friendly."

[2016-05-04 17:57] #147 closed

[2016-05-05 13:56] partnersmap opened #150 "Urgent!!! Reboot"
The site has been down for a little over a half an hour now. It jumps to the application error page. I know there was a user uploading projects through the user interface. Is it possible to reboot the map?

[2016-05-05 14:05] vitchell commented on #150
Yes, reboot done.  I'll see about giving some instructions on how to do this in case of emergency for you guys, just in case.

[2016-05-05 14:06] partnersmap commented on #150
awesome! thanks

[2016-05-05 14:06] #150 closed

[2016-05-06 22:13] vitchell commented on #149
Looks like this one slipped through the cracks - apologies.

You should be able to update the locations without a problem.  It checks for duplicates.  However, just in case, I can take a backup of the database.

I've noticed in the past that some regions get skipped on rare occasion and that almost always tends to be a formatting issue.  However, we can dig into this deeper.  I'd just say give it

[2016-05-06 22:15] vitchell commented on #149
For reference, I just captured a new backup, so you should be good to go to test.  I think the key thing to check for in uploading the file again is whether or not issues like this is in the file itself or a code problem.

[2016-05-18 14:02] dtpowl commented on #149
@partnersmap Hi! I'm back from vacation.

Did Mitchell's fix take care of this issue for you or is it still a problem?

[2016-05-18 14:29] partnersmap commented on #149
So you're the one that brought back all of the rain... haha. Hope it was a good trip!

I haven't been able to look much into it. But it doesn't initially appear to be a formatting issue. Prior to uploading projects, I will cross-reference locations with the Admin2 List (attached above). I was under the impression that these locations were used to define locations on the map. However, it seems like

[2016-05-18 16:37] dtpowl commented on #149
So it looks like when the administrative units were imported into the app, the levels for some of them weren't correctly recorded. This is interfering with the way the app retrieves the list of level 2 regions from the database. I fixed La Esperanza manually, and I'm working on a general fix now. It'll probably be the kind of thing that will need to run overnight.

[2016-05-18 16:45] partnersmap commented on #149
Sounds good. I've periodically noticed a few throughout the past month or so. I know Honduras and Madagascar seemed to be some of the more consistent ones. Let me know when they appear in the system. I can most likely just export the project list from the map and cross-reference them with the uploads to see discrepancies in locations. I'm assuming I can make the location updates manually (as it do

[2016-05-19 17:31] dtpowl commented on #108
@partnersmap Is this fixed?

[2016-05-20 12:12] partnersmap commented on #108
Yeah, last I check it worked out well. Thanks

[2016-05-20 12:15] dtpowl commented on #149
@partnersmap Okay, all regions should now be appearing in the drop-down menu as expected.

[2016-05-20 14:46] partnersmap commented on #149
It looks like the site might need a reboot. When at the home screen for the map, I can successfully select projects within of a country, however, if I try to select a district it brings me to a blank page.

Example: click on haiti with 100 projects and then click on any of the haiti projects

[2016-05-20 18:15] partnersmap opened #152 "Monthly Invoice"
Hey guys, our financial analyst has asked me to see if you could provide us with an invoice. I'm not sure about the details of the contract, but he was looking for something to put into the books.

[2016-05-23 11:48] dtpowl commented on #149
Ouch! That's a big problem. Fixed, along with the underlying bug so it shouldn't happen again.

[2016-05-23 18:51] dtpowl commented on #152
Mitchell says you guys are in communication about this, so I'm gonna go ahead and close this issue.

[2016-05-23 18:51] #152 closed

[2016-05-24 14:15] #108 closed

[2016-05-24 16:42] partnersmap opened #153 "Urgent!!! Project uploads"
A user mentioned that since yesterday they have not been able to upload projects. I just went in and did a test run and it gives the message:

"We're sorry
There as an error and the page couldn't be loaded."

Is this related to yesterdays fixes?

[2016-05-24 20:34] partnersmap commented on #153
Any progress on this?

[2016-05-25 13:35] dtpowl commented on #153
@partnersmap Apologies for the delay on this. Working on it now.

[2016-05-25 13:43] dtpowl commented on #153
@partnersmap Okay, try your upload again with the same data and let me know if it's working.

[2016-05-25 13:49] partnersmap commented on #153
It still brings me to the
"We're sorry
There as an error and the page couldn't be loaded."

after clicking "Save Changes" under the new project feature

[2016-05-25 13:58] dtpowl commented on #153
@partnersmap Just made another change. Try again?

[2016-05-25 14:00] partnersmap commented on #153
Still brings me to that page with the error message

[2016-05-25 14:02] dtpowl commented on #153
@partnersmap Okay, thanks. For what it's worth, each time you try this I'm getting a different error on the backend. It looks the same to you, but there's a number of interacting bugs going on here -- when I fix one issue, it exposes another.

I'm not exactly sure why this started happening now. It seems like it must be related to the recent changes, but I don't see how yet. After I get it working

[2016-05-25 14:04] partnersmap commented on #153
Thanks for looking into it!

[2016-05-25 14:06] dtpowl commented on #153
Sorry it's taking so long. This is an area of the codebase I'm not familiar with.

[2016-05-25 14:15] dtpowl commented on #153
@partnersmap Okay, it's working for me now. Can you double-check?

[2016-05-25 14:19] partnersmap commented on #153
Yeah, it looks good now! Thanks for the quick solve!

[2016-05-25 14:19] #153 closed

[2016-05-25 14:24] dtpowl commented on #153
@partnersmap The immediate crisis seems to be averted, but I'm not sure the underlying issue is solved just yet.

Without getting too deep into the technical weeds, I think it's possible that something unusual happened that caused the wrong version of some library code to get deployed to the servers. If this is true, it means that other parts of the app could also be broken and we just haven't not

[2016-05-26 17:48] dtpowl commented on #153
@partnersmap I'm making a couple more changes relevant to this issue; there might be some intermittent issues with project uploads but they shouldn't last long.

[2016-05-26 17:49] partnersmap commented on #153
Sounds good, thanks for the update

[2016-06-06 17:34] partnersmap opened #154 "Batch upload"
I'm not sure if this links back to some of the location updates that we've just made.

Also, slightly hard to explain: I was having trouble uploading a batch file. Initially, the complete batch file would not upload. So, to see where the issue was, I started to delete one data field at a time and try uploading it to the site. The file didn't successfully upload until the location data field was de

[2016-06-06 20:00] dtpowl commented on #154
@partnersmap A few questions:

- How many projects were in the batch? As far as I can tell, only four projects were uploaded today in total. Is that all of them?
- Were you getting an error message when attempting to upload the file, or did the app just not respond at all?
- When it eventually accepted the file, there was no location data in it at all?

[2016-06-06 20:08] partnersmap commented on #154
Yeah, sorry... I knew this one would be tricky to explain. I selected a small subset of the batch file to test. This file only had 4 projects. It's strange how it was finally uploaded. I deleted contents within the data field one at a time, starting from the right (I've attached the complete 73 projects - the first 4 were in the test). I would get the message that "0 projects were uploaded success

[2016-06-06 20:10] partnersmap commented on #154
I was trying to test the data fields, because I assumed it was an error on my end. But when it uploaded with the location removed, it seemed interesting and thought it might link back to the recent updates we've made.

[2016-06-06 20:10] dtpowl commented on #154
Wow, this is a weird one. Thanks for your help!

[2016-06-06 20:52] dtpowl commented on #154
Aha. I tried it out in a test environment and it looks like the problem isn't with the upload itself, but with the messages.

When it says "0 projects uploaded," the message is wrong -- it's actually accepting the file and adding the projects. This is why the uploaded projects have location data and other stuff like contact info.

When the location column is missing, on the other hand, it's actual

[2016-06-08 17:40] dtpowl commented on #154
@partnersmap Apologies for the delay on this one; fix going live now.

[2016-06-10 17:07] partnersmap commented on #154
Were you able to see if the batch file uploads? I'm trying to see if it's on my end, but I haven't been able to catch anything. I tried just now and it doesn't seem to say if the upload was successful or not - there's not prompt.

[2016-06-10 17:14] partnersmap commented on #154
Scratch that. It looks like they went through. Thanks!

[2016-06-10 17:49] #154 closed

[2016-06-10 17:49] #149 closed

[2016-11-01 14:30] partnersmap opened #155 ""Organizations in this Country" summary"
Hey guys, hope all is well. We've been able to get a little more feedback on Partners Map and I was wondering if we could add an infographic that identifies "Organizations in this country." This could go right under the "Donors in this county."
![image](https://cloud.githubusercontent.com/assets/16598522/19893007/f6ff465e-a01d-11e6-8302-ce90893b29f8.png)

[2016-11-01 14:32] partnersmap opened #156 "CVE-2016-5195"
We got the following email from Heroku. Is Partners Map okay with this vulnerability?

"Your database (NAVY on task-force-prod) must undergo maintenance.

Several vendors recently disclosed some vulnerabilities (CVE-2016-5195) in the Linux Kernel. You can find more details here. As a result, we need to perform maintenance to your database as soon as possible to apply the patch for this vulnerabili

[2016-11-03 20:30] dtpowl commented on #156
@partnersmap Yep! It'll be okay without any intervention on our part. It sounds like the app will experience some downtime tomorrow evening; if you'd like to avoid that I could manually run the maintenance tonight.

[2016-11-03 20:32] dtpowl commented on #155
Hi, @partnersmap! Apologies for not responding promptly to these issues; Nightsprout has recently completed a merger with another local tech company called Tyrannosaurus Tech and I think my new email settings aren't exactly correct yet.

Yep, this should be doable. Do you want the new component to have the same appearance as the Donors In This Country list?

[2016-11-03 20:35] dtpowl commented on #156
I'll probably go ahead and plan to run the maintenance manually sometime after midnight tonight; it will cause the site to become inaccessible while it's in progress, and it would be better to have that happen late tonight rather than at 6:00 PM tomorrow.

[2016-11-03 20:53] partnersmap commented on #155
No worries. Congrats on the merger!
The same appearance would be perfect. Perhaps place it above the "Donors In This Country List"

Thanks

[2016-11-07 16:27] dtpowl commented on #155
@partnersmap This feature is on deck and will go live tonight.

[2016-11-08 19:35] partnersmap commented on #155
Looks great! Thanks for the quick work.

[2016-11-08 19:35] #155 closed

[2016-11-17 17:11] #156 closed

[2016-11-17 18:09] partnersmap opened #158 "Link with logo"
When you click the logo to try to go to the "home page"
![image](https://cloud.githubusercontent.com/assets/16598522/20401468/ef3fae6c-acc6-11e6-934d-8b109202fce3.png)

It brings an error: "400 Bad Request"

[2016-11-17 20:55] partnersmap opened #159 "Second level location presents error"
This is new. Looks like after you click on the country, and try to select a project or projects in a district, it give you the:

"We're sorry

There as an error and the page couldn't be loaded."

[2017-01-04 17:21] partnersmap commented on #158
Just wanted to check in with this. It seems to still be an issue.

[2017-01-04 17:22] partnersmap commented on #159
Just wanted to check in with this. It seems to still be an issue.

[2017-01-09 14:30] partnersmap commented on #159
@devilshaircut Hey Jason, I wanted to see if you could help out on this. I seem to be having trouble reaching Daniel.

[2017-01-09 14:30] partnersmap commented on #158
@devilshaircut Hey Jason, I wanted to see if you could help out on this. I seem to be having trouble reaching Daniel.

[2017-01-25 02:02] dtpowl commented on #158
@partnersmap Oh, wow! We're really sorry this flew under our radar. Should be fixed now.

[2017-01-25 02:10] dtpowl commented on #159
@partnersmap And this one is fixed, too.

[2017-02-01 15:25] #159 closed

[2017-02-01 15:25] #158 closed

[2017-02-09 14:08] jirish2 opened #160 "Pin points on the Regional level"
Hi there,

It looks like we're having trouble with some of the links for projects that are on a regional level. When clicked, this states that the page can't found once clicked. I'll attach an example of one of these below.
Example: When I click on the location pin below (Porto Velho in Brazil), it says there are two projects, but when they're clicked it leads to a bad page.

![image](https://clou

[2017-02-23 02:11] dtpowl commented on #160
@jirish2

Hi! We've just deployed a fix for this issue. If the problem isn't resolved for you right away, try clearing your browser cache.

[2017-02-23 13:47] jirish2 commented on #160
Hey Daniel,

I tried this out after clearing the cache; it looks like it's still not working when you click a pin on the map with only one project associated with it. I tried a couple in Brazil and they all gave me "Page note Found"
The example I'm referencing is: Brazil > Maranhao > Carolina

[2017-02-23 14:34] dtpowl commented on #160
Hi Jasmine,

I believe I see the source of this problem and we're working on it; I'll let you know when an update is pushed.

[2017-02-24 05:48] dtpowl commented on #160
This issue should now be fixed.

[2017-02-24 13:42] jirish2 commented on #160
Hi Daniel,

Thanks so much! It's working again.

[2017-02-24 13:45] jirish2 opened #161 "Filter bar on home page issue"
![image](https://cloud.githubusercontent.com/assets/25233469/23305560/650157c4-fa6d-11e6-90ed-2ce3ec3f667d.png)

Hi guys, another issue I've run into that I'm not sure is my browser or is universal, but the filters on this top bar when you hover over them pop up fine, but when you move the mouse up to click inside the window, it disappears again.
Thank you,
Jasmine

[2017-02-24 17:25] #160 closed

[2017-02-27 18:44] dtpowl commented on #161
@jirish2 Hi! Which operating system and browser are you using?

[2017-02-27 18:50] jirish2 commented on #161
Hi! I'm on Windows 10 and using Chrome.

[2017-03-03 14:04] dtpowl commented on #161
@jirish2 Hi! Apologies for the delay. This issue does seem to be happening specifically on Chrome in Windows; we're working on a fix.

[2017-03-07 13:37] jirish2 commented on #161
Hi Daniel,

I noticed that the bar menu items are popping up correctly, but still not allowing me to select anything (they disappear before I can get my cursor up to them). I know this is resolved quite yet, just wanted to let you know what I was seeing on my end.

Thanks!

[2017-04-03 13:45] jirish2 opened #162 "Audience Error on Partners Map- Can you remove?"
Hello,

I have a small change for the Partners Map - Under the Audience category, there are three diseases listed - ONCHOCERCIASIS
LYMPHATIC FILARIASIS
LOIASIS
Can you remove these from the following project and also ensure that this removes them from being a category under Audience? Sending a link to the project. The diseases were added in error.
http://www.partnersmap.org/projects/4211
Thank you